@import "tailwindcss";

@theme {
  --color-brand-bg: #0f172a;
  --color-brand-blue: hsl(213, 60%, 80%);
  --color-brand-grey: #6b7280;
  --color-brand-white: #ffffff;
  --color-brand-black: #000000;
  --color-brand-orange: hsl(27, 60%, 61%);
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/HELVETICASCHOOL.TTF") format("truetype");
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
  user-select: none;
}
