@import "tailwindcss";

@theme {
  --color-brand-bg: #0f172a;
  --color-brand-blue: #93c5fd;
  --color-brand-green: #86efac;
  --color-brand-red: #f87171;
  --color-brand-yellow: #facc15;
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/HELVETICASCHOOL.TTF") format("truetype");
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: white;
}
